<section id="about-us" class="container about-us-box">
  <div class="box-for-text child">
      <h2 class="about-us-title">Про Меблерію</h2>
      <p class="about-us-text">
        У Меблерії ми прагнемо створювати затишок та функціональність у кожному
        домі. Наша місія - пропонувати високоякісні меблі, що поєднують у собі
        сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний
        інтер'єр починається з правильних меблів.
      </p>
  </div>
  <div class="img-box-about child">
    <picture>
                        <source srcset="
                        /img/AU/AU-desk.jpg 1x, 
                        /img/AU/AU@2x-desk.jpg 2x"
                        media="(min-width: 1440px)"/>

                        <source srcset="
                        /img/AU/AU-tab.jpg 1x, 
                        /img/AU/AU@2x-tab.jpg 2x"
                        media="(min-width: 768px)"/>

                        <source srcset="
                        /img/AU/AU-mob.jpg 1x, 
                        /img/AU/AU@2x-mob.jpg 2x"
                        media="(max-width: 767px)"/>
        
                        <img src="/img/AU/AU-mob.jpg"
                            class="img-about-us" 
                            alt="EcoBag Classic" 
                        />
                      </picture>
  </div>
</section>
