<div class="faq-section">
        <h2 class="section-title">Часті питання</h2>
        <ul class="faq-list">
            <li class="faq-item">
                <h3 class="faq-title">
                <button class="faq-toggle" type="button">
                    <span>Як здійснюється доставка меблів?</span>
                    <span class="faq-icon"><svg class="more-icon"  width="32" height="32"><use href = "../img/icons.svg#icon-chevron-down"></use></svg></span>
                </button>
                </h3>
                <p class="faq-paragraph">Ми доставляємо замовлення по всій Україні через надійні служби. Термін доставки зазвичай складає 3–7 днів залежно від регіону.</p>
            </li>
            <li class="faq-item">
                <h3 class="faq-title">
                <button class="faq-toggle" type="button">
                    <span>Чи є можливість вибрати колір або матеріал?</span>
                    <span class="faq-icon"><svg class="more-icon"  width="32" height="32"><use href = "../img/icons.svg#icon-chevron-down"></use></svg></span>
                </button>
                </h3>
                <p class="faq-paragraph">Так, у багатьох моделях доступні варіанти оббивки та кольорів. Усі доступні опції вказані на сторінці товару.</p>
            </li>
            <li class="faq-item">
                <h3 class="faq-title">
                <button class="faq-toggle" type="button">
                    <span>Чи можна повернути товар, якщо він не підійшов?</span>
                    <span class="faq-icon"><svg class="more-icon"  width="32" height="32"><use href = "../img/icons.svg#icon-chevron-down"></use></svg></span>
                </button>
                </h3>
                <p class="faq-paragraph">Так, ви можете повернути товар протягом 14 днів, якщо він не був у користуванні та збережений у первинному вигляді.</p>
            </li>
            <li class="faq-item">
                <h3 class="faq-title">
                <button class="faq-toggle" type="button">
                    <span>Чи надаєте ви послугу збирання меблів?</span>
                    <span class="faq-icon"><svg class="more-icon"  width="32" height="32"><use href = "../img/icons.svg#icon-chevron-down"></use></svg></span>
                </button>
                </h3>
                <p class="faq-paragraph">Так, під час оформлення замовлення можна обрати послугу збирання. Наші майстри зберуть меблі у зручний для вас час.</p>
            </li>
           <li class="faq-item">
                <h3 class="faq-title">
                <button class="faq-toggle" type="button">
                    <span>Як здійснити оплату?</span>
                    <span class="faq-icon faq-icon-last"><svg class="more-icon"  width="32" height="32"><use href = "../img/icons.svg#icon-chevron-down"></use></svg></span>
                </button>
                </h3>
                <p class="faq-paragraph">Ми приймаємо оплату карткою онлайн, банківським переказом або післяплатою при отриманні.</p>
            </li>
        </ul>
    </div>
    <script src="..main.js"></script>