<main>
    <section class="hero" id="hero">
        <div class="container hero-container">
            <div class="container-column">
            <h1 class="hero-title">Створіть свій ідеальний дім</h1>
           
                <p class="text-hero">Відкрийте для себе колекцію стильних та комфортних меблів, які перетворять ваш простір. Наша продукція поєднує в собі елегантність та функціональність.</p>
            <a href="./testimonial.html" class="btn-hero">Що про нас думають</a>
            <span id="loader" class="loader"></span>
            </div>
        </div>

    </section>
</main>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css">
<script src="https://cdn.jsdelivr.net/npm/izitoast/dist/js/iziToast.min.js"></script>