<main>
    <section class="hero" id="hero">
        <div class="container hero-container">
            <h1 class="hero-title">Створіть свій ідеальний дім</h1>
            <div class="hero-info">
                <p class="text-hero">Відкрийте для себе колекцію стильних та комфортних меблів, які перетворять ваш простір. Наша продукція поєднує в собі елегантність та функціональність.</p>
            </div>
            <a href="./testimonial.html" class="btn-hero">Що про нас думають</a>
            
        </div>
    </section>
</main>