
    <section class="hero" id="hero">
        <div class="container">
            <div class="container-column">
            <h1 class="hero-title">Створіть свій ідеальний дім</h1>
           
                <p class="text-hero">Відкрийте для себе колекцію стильних та комфортних меблів, які перетворять ваш простір. Наша продукція поєднує в собі елегантність та функціональність.</p>
            <a href="#testimonial" class="btn-hero">Що про нас думають</a>
            
            </div>
        </div>

    </section>
