<div class="modal-order">
  <div class="modal-order-container">
    <button type="button" class="modal-order-close">
      <svg class="icon-close-modal-order" width="32" height="32">
        <use href="../img/icons.svg#icon-x"></use>
      </svg>
    </button>

    <h2 class="modal-order-title">Замовити</h2>

    <form class="modal-order-form">
      <label class="modal-order-form-label">
        Ім'я*
        <input
          type="text"
          placeholder="Дмитро"
          class="modal-order-form-input"
          required
        />
      </label>

      <label class="modal-order-form-label">
        Телефон*
        <input
          type="tel"
          placeholder="38 099 123 22 11"
          class="modal-order-form-input"
          pattern="^\+?380\d{9}$"
          required
        />
      </label>

      <label class="modal-order-form-label">
        Коментар
        <textarea
          placeholder="Введіть ваш коментар"
          class="modal-order-form-textarea"
        ></textarea>
      </label>

      <button type="submit" class="modal-order-submit-btn">
        Надіслати заявку
      </button>
    </form>
  </div>
</div>
