<section id="testimonial" class="sec-feedbacks">
  <div class="container">
    <div class="wrap-content">
      <h2 class="title-feedback">Відгуки клієнтів</h2>
      <p class="paragraph">
        Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
      </p>
      <div class="swiper mySwiper">
        <ul class="list-feedbacks swiper-wrapper"></ul>
      </div>
      <div class="slider-container">
        <div class="swiper-pagination"></div>
        <div class="wrap-swiper-btn">
          <div class="swiper-button-prev">
            <svg class="my-feedback-arrow-svg">
              <use href="./img/icons.svg#icon-left-arrow-alt"></use>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg class="my-feedback-arrow-svg" width="48" height="48">
              <use href="./img/icons.svg#icon-right-arrow-alt"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
