.faq-section{
    padding: 48px 20px;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
}

.faq-list{
    display: flex;
    flex-direction: column;
}

.faq-list .faq-item .faq-title{
    margin: 0;
    position: relative;
    padding-bottom: 20px ;
    padding-top: 20px ;
}


.faq-list .faq-item .faq-title .faq-toggle{
    width: 100%;
    border: none;
    background: transparent;
    padding: 0 56px 0 0;
    margin: 0;
    text-align: left;
    font: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6;
    cursor: pointer;
    padding-top: 20px;
}



.faq-icon{
    position: absolute;
    top: 33px;
    right: 0;
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}



.faq-list .faq-item .ac-panel .faq-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding-bottom: 24px;
}

.faq-icon-last{
    top: 20px;
}

.ac-trigger::after {
  display: none ;
}

@media only screen and (min-width: 768px) {
    .faq-list .faq-item .faq-title{
        padding-bottom: 21.5px;
        padding-top: 21.5px;
    }
    .faq-icon{
        top: 20px;
    }
    
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
    .section-title{
        font-size: 48px;
    }
}
