:root {
  --swiper-theme-color: #080c09;
  --opacity-neutral-darkest-15: rgba(8, 12, 9, 0.15);
  --color-neutral-lightest: #f2f2f2;
  --color-madang: #6b0609;
  --color-white: #fff;
}
.sec-feedbacks {
  padding: 64px 0;
}

.title-feedback {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #202421;
  margin-bottom: 24px;
}

.paragraph {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #202421;
  margin-bottom: 80px;
}

.sec-feedbacks .wrap-content .list-feedbacks {
  height: 266px;
}

.sec-feedbacks .list-feedbacks .feedback {
  display: flex;
  flex-direction: column;
  height: auto;
  box-sizing: border-box;
  justify-content: space-between;
  row-gap: 24px;
  height: 254px;
}

.list-feedbacks .feedback .rating-fb .star-container .star .star-filled,
.list-feedbacks .feedback .rating-fb .star-container .star .star-half {
  color: #080c09;
}

.list-feedbacks .feedback .rating {
  margin: 0;
  justify-content: flex-start;
}

.list-feedbacks .feedback .rating .star-container {
  column-gap: 4px;
  margin: 0;
}

.tetx-feedback {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #202421;
  padding: 0;
  padding-right: 44px;
}

.name-author {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #202421;
  margin-bottom: 13px;
}

.slider-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  padding-top: 0;
}

.sec-feedbacks .slider-container .swiper-pagination-bullet-active {
  background: #080c09;
}

.sec-feedbacks .slider-container .swiper-pagination {
  position: static;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

.sec-feedbacks .slider-container .swiper-pagination .swiper-pagination-bullet {
  margin: 0;
}

.sec-feedbacks .wrap-swiper-btn {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  align-items: center;
}

.sec-feedbacks .swiper-button-prev,
.sec-feedbacks .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.sec-feedbacks .swiper-button-next,
.sec-feedbacks .swiper-button-prev {
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 100px;
  padding: 12px;
  width: 48px;
  height: 48px;
  margin-top: 0;
  background-color: var(--color-neutral-lightest);
  position: static;
}

.sec-feedbacks .swiper-button-next:active,
.sec-feedbacks .swiper-button-prev:active {
  background-color: var(--color-madang);
}

.sec-feedbacks .swiper-button-prev .swiper-navigation-icon,
.sec-feedbacks .swiper-button-next .swiper-navigation-icon {
  display: none;
}

.sec-feedbacks .my-feedback-arrow-svg {
  display: block;
  fill: #080c09;
  transition: fill 0.3s ease;
}

.sec-feedbacks .swiper-button-prev:active .my-feedback-arrow-svg,
.sec-feedbacks .swiper-button-next:active .my-feedback-arrow-svg {
  fill: var(--color-white);
}

@media screen and (min-width: 768px) {
  .sec-feedbacks {
    padding: 32px 0;
  }

  .sec-feedbacks .wrap-content .list-feedbacks {
    height: 254px;
  }

  .name-author {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .sec-feedbacks {
    padding: 64px 0;
  }

  .sec-feedbacks .wrap-content .list-feedbacks {
    height: 222px;
  }

  .sec-feedbacks .list-feedbacks .feedback {
    height: 222px;
  }

  .sec-feedbacks .swiper-button-next:hover,
  .sec-feedbacks .swiper-button-prev:hover {
    background-color: #975052;
  }

  .sec-feedbacks .swiper-button-prev:hover .my-feedback-arrow-svg,
  .sec-feedbacks .swiper-button-next:hover .my-feedback-arrow-svg {
    fill: var(--color-white);
  }

  .sec-feedbacks .swiper-button-next:active,
  .sec-feedbacks .swiper-button-prev:active {
    background-color: var(--color-madang);
  }
}
